fastapi
uvicorn
pydantic
httpx
xmltodict
langchain
langchain-google-genai
chromadb
python-dotenv
PyPDF2
langchain-community
langchain-chroma
langchain-text-splitters
langchain-core
python-multipart
PyJWT
bcrypt
psycopg2-binary
SQLAlchemy
supabase>=1.0.3,<2.0.0
postgrest>=0.10.0,<0.11.0
vecs

